__pycache__/
*.py[cod]
Chess Pieces/bd.png
Chess Pieces/bl.png
Chess Pieces/kd.png
Chess Pieces/kl.png
Chess Pieces/nd.png
Chess Pieces/nl.png
Chess Pieces/pd.png
Chess Pieces/pl.png
Chess Pieces/qd.png
Chess Pieces/ql.png
Chess Pieces/rd.png
Chess Pieces/rl.png
